@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*Haven't decided between open sans and poppins yet*/
* {
  padding: 0;  
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}